<div class="main">
  <div class="innerDiv">
    <h1>To-Do List</h1>
    <p>A place to store your todos</p>
    <ol>
      <li
        *ngFor="let todo of todos; let i = index"
        [ngClass]="{ strikeIt: todo.completed }"
      >
        <button
          *ngIf="!todo.completed"
          (click)="completeTask(i)"
          class="complete"
        >
          Complete
        </button>
        {{ todo.task }} ({{ todo.duration | number }} hr)
        <span [ngSwitch]="todo.priority">
          <span *ngSwitchCase="'High'" [class]="todo.priority">
            &uarr; {{ todo.priority }}</span
          >
          <span *ngSwitchCase="'Low'" [class]="todo.priority">
            &darr; {{ todo.priority }}</span
          >
          <span *ngSwitchCase="'Normal'" [class]="todo.priority">
            &harr; {{ todo.priority }}</span
          >
        </span>
        <button (click)="deleteTask(i)" class="delete-button">X</button>
      </li>
    </ol>
  </div>
</div>
